*.tmp
temp-*
*temp*/
*.bak
*.swp
*~
.maintenance

*.log

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

Homestead.json
Homestead.yaml

/.fleet
/.zed
/.vscode
/.claude
CLAUDE.md
CLAUDE.local.md
.codex/
AGENTS.override.md
.cursorindexingignore
.opencode/
.codeiumignore
.clineignore
/.settings
/.buildpath
/.project
/.idea
*.iml
*.iws
*.ipr
.idea_modules/
atlassian-ide-plugin.xml
crashlytics.properties
fabric.properties
.bootstrap/cache

.env
.env.backup
.env.testing
.env.production
*.yaml
.user.ini

.phpunit.result.cache
.phpunit.cache/
/coverage/
/build/
.phpactor.json
.php-cs-fixer.cache
.phpstan.cache
rector.cache

composer.lock
composer.phar
vendor/
auth.json

package-lock.json
yarn.lock
npm-debug.log*
yarn-error.log*
.pnpm-store
node_modules/
